In [2]:
print(2/3, 2//3)

0.6666666666666666 0

In [3]:
print(4//3)

1

In [4]:
print(4%2)

0

In [8]:
print(2/3, '\n', 4%2)

0.6666666666666666
 0

In [12]:
print(2/3, '\n', 4%2)

0.6666666666666666
 0

In [17]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
#{'orange', 'banana', 'pear', 'apple'}


'orange' in basket                 # fast membership testing
#True

{'pear', 'apple', 'orange', 'banana'}

True

In [18]:
'crabgrass' in basket
#False

False

In [20]:
a = set('abracadabra')
b = set('alacazam')
print(a, '\n' , b)                                 # unique letters in a

{'c', 'r', 'b', 'd', 'a'}
 {'c', 'z', 'm', 'l', 'a'}

In [21]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [22]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [23]:
print(a & b )                              # letters in both a and b
print('\n', a ^ b )                             # letters in a or b but not both

{'c', 'a'}

 {'z', 'b', 'r', 'd', 'm', 'l'}

In [25]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
id = input_list.index('R')
id

1

In [26]:
input_list[id] = 'Srinu'
input_list

['SAS', 'Srinu', 'PYTHON', 'SPSS']

In [27]:
input_str = 'I love Data Science & Python' 
re = input_str.split('&')
print(re)

['I love Data Science ', ' Python']

In [28]:
type(re)

list

In [43]:
str = 'Pythons syntax is easy to learn, Pythons syntax is very clear'
str1 =  str.split(',')
res = " & ".join(str1)
res

'Pythons syntax is easy to learn &  Pythons syntax is very clear'

In [44]:
type(str1)

list

In [47]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])

Python

In [49]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [55]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('ee')

0

In [57]:
len(fruits)

7

In [60]:
lst = []

for x in range (10):
    lst.append(x **2)
    
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
res = list(map( lambda x : x **2, range(10)))
#type(res)
res

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
res1 = [ x** 2 for x in range(10)]
res1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
res2 = [ x**2 for x in range(10) if x%2 == 0]
res2

[0, 4, 16, 36, 64]

In [27]:
res3 = [(c, d) for c in [1, 2, 3] for d in [2, 4, 5] if c!=d ]
res3

[(1, 2), (1, 4), (1, 5), (2, 4), (2, 5), (3, 2), (3, 4), (3, 5)]

In [28]:
list_one = [1, 2, 3]
list_two = list_one

In [29]:
list_two

[1, 2, 3]

In [30]:
list_two.append(6)

In [31]:
list_one

[1, 2, 3, 6]

In [38]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [54]:
for i in range(1, 6):
    for j in range(1, i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [51]:
import sys
for i in range(1,6):
   for j in range(1,i+1):
      print ('*', end=' ')
   print()

for i in range(1,6):
   for j in range(1,i+1):
      #k = i*j
      print ('*', end=' ')
   print()

*
* *
* * *
* * * *
* * * * *
*
* *
* * *
* * * *
* * * * *

In [56]:
greater = lambda x, y : x if x > y else y

greater(3,5)

5

In [57]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']

proper= lambda x, y: x[0].upper() + x[1:] +'  '+ y[0].upper() + y[1:]


print( list(map(proper, list_of_names,list_of_names2)))

['Nikola  Tesla', 'James  Watt', 'Albert  Einstein']

In [60]:
lst= [2, 3, 4, 6]

res = lambda x: x % 2 == 0

print(list(filter(res, lst)))

[2, 4, 6]

In [61]:
from functools import reduce

In [63]:
res =reduce(lambda x, y : x + y , lst)
res

15

In [64]:
list_of_nums = [22,45,32,20,87,94,30]


res1 = reduce(lambda x, y: x if x > y else y, list_of_nums)
res1

94

In [81]:
input_list =  ['hdjk', 'salsap', 'sherpa']
# starts wih 's' and ends with 'p'

res3 = list(filter(lambda x :  x[0] == "s" and x[-1] =="p", input_list))
res3

['salsap']

In [80]:
sp = list(filter(lambda x : x[0] == "s" and x[-1] == "p", input_list))
#Write your code here

print(sp)

['salsap']