In [70]:
import numpy as np
import pandas as pd
import sklearn

In [71]:
# training data
file_path='D:\\DataScientist\\Course Documentation\\ML_Course - 3\\Session -4_ Navi Bayes\\Graded_MovieDataSets\\'
# file_path = 'D:\\DataScientist\\Course Documentation\\'
train_docs = pd.read_csv(file_path +'movie_review_train.csv')
train_docs.head()

  class                                               text
0   Pos   a common complaint amongst film critics is   ...
1   Pos   whew   this film oozes energy   the kind of b...
2   Pos   steven spielberg s   amistad     which is bas...
3   Pos   he has spent his entire life in an awful litt...
4   Pos   being that it is a foreign language film with...

In [72]:
print(len(train_docs['class'].unique()))

2

In [73]:
train_docs.describe()

       class                                               text
count   1600                                               1600
unique     2                                               1600
top      Pos   boy   what a great movie ! !  keanu reeves an...
freq     800                                                  1

In [74]:
train_docs['class'].describe()

count     1600
unique       2
top        Pos
freq       800
Name: class, dtype: object

In [75]:
train_docs.isnull().sum(axis=0)

class    0
text     0
dtype: int64

In [76]:
# convert label to a numerical variable
train_docs['class'] = train_docs['class'].map({'Pos':1, 'Neg':0})
train_docs.head()

   class                                               text
0      1   a common complaint amongst film critics is   ...
1      1   whew   this film oozes energy   the kind of b...
2      1   steven spielberg s   amistad     which is bas...
3      1   he has spent his entire life in an awful litt...
4      1   being that it is a foreign language film with...

Let's now split the dataframe into X and y labels

In [77]:
# convert the df to a numpy array 
train_array = train_docs.values

# split X and y
X_train = train_array[:,1]
y_train = train_array[:,0]
y_train = y_train.astype('int') # sklearn needs y as integers

In [78]:
#print("X_train")
#print(X_train)
#print("y_train")
#print(y_train)

In [79]:
# create an object of CountVectorizer() class 
from sklearn.feature_extraction.text import CountVectorizer 
# help(CountVectorizer)

In [80]:
vec = CountVectorizer()

In [81]:
# fit the vectorizer on training data 
vec.fit(X_train)
len(vec.vocabulary_)

36162

In [82]:
# fitting the vectorizer on training data again
# removing the stop words this time
vec = CountVectorizer(stop_words='english')
vec.fit(X_train)
len(vec.vocabulary_)

35858

In [83]:
vec1 = CountVectorizer(stop_words='english', min_df=.03, max_df=.8)
vec1.fit(X_train)
len(vec1.vocabulary_)

1643

3. Building the Model: Bernoulli Naive Bayes

In [84]:
from sklearn.naive_bayes import BernoulliNB

# instantiating bernoulli NB class
bnb=BernoulliNB()

# fitting the model
bnb.fit(X_transformed, y_train)

# also works
# bnb.fit(X_transformed.toarray(), y_train)

# predicting probability of test data
bnb.predict_proba(X_test)
prob_bnb = bnb.predict_proba(X_test)
prob_bnb

NameError: name 'X_transformed' is not defined