# Business objective:
The objective is to identify the best sectors, countries, and a suitable investment type for making investments. The overall strategy is to invest where others are investing, implying that the 'best' sectors and countries are the ones 'where most investors are investing'.

# Importing required name spaces

In [47]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Importing datasets

In [48]:
#Eencoding specified to get rid of encoding issues for specific rows
file_path = 'D:\\Srinu_Nosina\\SourceFiles\\'

companies = pd.read_csv(file_path + 'companies.txt', sep='\t', encoding="ISO-8859-1")
rounds2 = pd.read_csv(file_path + 'rounds2.csv', encoding='ISO-8859-1')

In [6]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

# Data Cleaning

Permalink and Company name having different language characters (Unicode). so making them to ascii, remvoing unnecessary characters

Primary Key ( permalink ) values having upper and lower case. Making them to lower case for uniformity.

Key column is type of string , so it may have leading and traiing spaces, so removing them to avoid reading issues

In [49]:
# encoding to ascii from unicode chars
companies.permalink = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore')
companies.name = companies.name.str.encode('utf-8').str.decode('ascii', 'ignore')

# lower case format
companies.permalink = companies.permalink.apply(lambda x: x.lower())

# Removing leading and trailing unnecessary spaces if any on primay key columns
companies.permalink = companies.permalink.str.strip()

In [11]:
companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/organization/zznode-science-and-technology-co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/organization/eron,ERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/organization/asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/organization/novatiff-reklam-ve-tantm-hizmetl...,novatiff Reklam ve Tantm Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [15]:
# How many unique companies are present in companies?
print(len(companies['permalink'].unique()))

66368

In [18]:
# re-confirming unique values
companies['permalink'].describe()

count                   66368
unique                  66368
top       /organization/rosum
freq                        1
Name: permalink, dtype: object

In [25]:
companies.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66102,61191,27296,4,137,311,1092,5111,3978
top,/organization/rosum,Peach,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

# rounds2 data set cleaning

In [19]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [50]:
# encoding to ascii from unicode chars
rounds2.company_permalink = rounds2.company_permalink.str.encode('utf-8').str.decode('ascii', 'ignore')

# lower case format
rounds2.company_permalink = rounds2.company_permalink.apply(lambda x: x.lower())

# Removing leading and trailing unnecessary spaces if any on primay key columns
rounds2.company_permalink = rounds2.company_permalink.str.strip()

In [21]:
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [22]:
# identifing unique values
print(len(rounds2['company_permalink'].unique()))

66368

In [23]:
# re-confirming unique values
rounds2['company_permalink'].describe()

count                       114949
unique                       66368
top       /organization/solarflare
freq                            19
Name: company_permalink, dtype: object

In [27]:
rounds2.describe()

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10

In [51]:
# companies name comparision between companies and rounds2 data sets
#companies_key_values = pd.DataFrame(companies.permalink.unique())
#rounds_key_values = pd.DataFrame(rounds2.company_permalink.unique())
#companies_key_values.equals(rounds_key_values)

# comparing two data sets company names

def check_for_company_name_equality(array1 , array2):
    name_set1 = set(array1)
    name_set2 = set(array2)
    
    print(f"name_set1: {len(name_set1)}, name_set2: {len(name_set2)}, Intersection: {len(name_set1.intersection(name_set2))}")
    if len(name_set1 - name_set2) > 0:
        
        print(name_set1 - name_set2)
        print(name_set2 - name_set1)
        
    else: print("Company names are same in both data sets")
        

check_for_company_name_equality(companies.permalink.unique(), rounds2.company_permalink.unique())

name_set1: 66368, name_set2: 66368, Intersection: 66368
Company names are same in both data sets

In [34]:
# based on above results, both the data sets are having same company names
# cross verifing names
companies_name_set = set(companies['permalink'].unique())
rounds_name_set = set(rounds2['company_permalink'].unique())

companies_name_set.difference(rounds_name_set)

set()

In [92]:
# Merging two data frames and name the merged frame as master_frame.
master_frame = pd.merge(companies, rounds2, how = 'left', left_on = 'permalink', right_on = 'company_permalink')
print(f"There are {len(master_frame)} observations in master_frame.")

There are 114949 observations in master_frame.

In [93]:
#Inspecting the Null (missing) values
master_frame.isnull().sum(axis=0)

permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [94]:
#Inspecting the Null (missing) values percentage , column-wise
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2))

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [39]:
# founded_at, funding_round_code and raised_amount_usd having more missing laues

In [95]:
# As per our requirements, analys is based on country, category, funding round type, raised_amount_usd etc. 
# Hence, so many columns present in the master frame are not needed, we will drop those columns.

master_frame = master_frame.drop(['founded_at', 'funding_round_code', 'funding_round_permalink', 'homepage_url',
                                 'state_code', 'region', 'city' ,'status', 'funded_at'], axis = 1)

In [64]:
master_frame.head()

,permalink,name,category_list,country_code,company_permalink,funding_round_type,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,/organization/-fame,venture,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,/organization/-qounter,venture,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,/organization/-qounter,seed,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,/organization/-the-one-of-them-inc-,venture,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,/organization/0-6-com,venture,2000000.0

In [96]:
# Inspecting the Null (missing) values percentage again after deletion, column-wise
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2))

permalink              0.00
name                   0.00
category_list          2.97
country_code           7.55
company_permalink      0.00
funding_round_type     0.00
raised_amount_usd     17.39
dtype: float64

In [97]:
#removing rows based on null columns
master_frame = master_frame[~(master_frame['raised_amount_usd'].isnull() | master_frame['country_code'].isnull() |
                             master_frame['category_list'].isnull())]

In [98]:
# again inspecting the Null (missing) values percentage again after deletion of null vlaues, column-wise
print(round(100*(master_frame.isnull().sum()/len(master_frame.index)), 2))

permalink             0.0
name                  0.0
category_list         0.0
country_code          0.0
company_permalink     0.0
funding_round_type    0.0
raised_amount_usd     0.0
dtype: float64

In [69]:
# now data seems to be good, missing values percentage is zero

# Funding Type Analysis

In [100]:
# Observing the unique funding_round_type
master_frame['funding_round_type'].unique()

array(['venture', 'seed', 'undisclosed', 'convertible_note',
       'private_equity', 'debt_financing', 'angel', 'grant',
       'equity_crowdfunding', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'secondary_market',
       'non_equity_assistance'], dtype=object)

In [102]:
#Total 14 funding types present
# As per our requirements company wants to choose four investment types(venture, angel, seed, and private equity)
master_frame = master_frame[master_frame.funding_round_type.isin(['venture', 'seed', 'angel', 'private_equity'])]

In [109]:
master_frame.head()
# Converting $ to million $.
#master_frame['raised_amount_usd'] = master_frame['raised_amount_usd']/1000000
#master_frame.head()

,permalink,name,category_list,country_code,company_permalink,funding_round_type,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,/organization/-fame,venture,10000000.0
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,/organization/-qounter,seed,700000.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,/organization/0-6-com,venture,2000000.0
7,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,CAN,/organization/0ndine-biomedical-inc,seed,43360.0
8,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,Biotechnology,CAN,/organization/0ndine-biomedical-inc,venture,719491.0

In [114]:
# checking null values in raised_amount_usd
master_frame['raised_amount_usd'].isnull().sum()

0

In [117]:
# Calculate the average investment amount for each of the four funding types.
round(master_frame.groupby('funding_round_type').raised_amount_usd.mean(), 2)

funding_round_type
angel               971573.89
private_equity    73938486.28
seed                747793.68
venture           11724222.69
Name: raised_amount_usd, dtype: float64

In [118]:
venture_mean = master_frame[master_frame['funding_round_type'] == 'venture'].raised_amount_usd.mean()
angel_mean = master_frame[master_frame['funding_round_type'] == 'angel'].raised_amount_usd.mean()
seed_mean = master_frame[master_frame['funding_round_type'] == 'seed'].raised_amount_usd.mean()
equity_mean = master_frame[master_frame['funding_round_type'] == 'private_equity'].raised_amount_usd.mean()

# Finding ideal investment type
inv_dict = {'venture': venture_mean, 'angel': angel_mean, 'seed': seed_mean, 'equity': equity_mean}
for inv_type in inv_dict:
    if inv_dict[inv_type] > 5000000 and inv_dict[inv_type] < 15000000:
        print(f"Ideal investment type for Spark Funds is: {inv_type}")

Ideal investment type for Spark Funds is: venture